body, html {
	background: black;
	color: white;
	text-align: center;
}

a {
	color: white;
	font-size: 22px;
}

#fahrenheit-btn {
	color: grey;
}

.days-container {
	width: 100%;

}

.day {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

.day div {
	border: 1px solid grey;
	border-radius: 3px;
}

.day img {
	vertical-align: middle;
}